<h1>Create New Student</h1>

<%= form_with model: @user, url: "/students", method: :post do |form| %>
    <div>
        <%= form.label :name, "Name:" %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :email, "Email:" %>
        <%= form.email_field :email %>
    </div>
    <div>
        <%= form.label :password, "Password:" %>
        <%= form.password_field :password %>
    </div>
    <div>
        <%= form.label :student_id, "Student ID:" %>
        <%= form.text_field :student_id %>
    </div>
    <div>
        <%= form.label :major, "Major:" %>
        <%= form.text_field :major %>
    </div>
    <div>
        <%= form.label :phone_number, "Phone number:" %>
        <%= form.text_field :phone_number %>
    </div>
    <div>
        <%= form.label :address, "Address:" %>
        <%= form.text_area :address %>
    </div>
    <div>
        <%= form.label :date_of_birth, "Date of birth:" %>
        <%= form.datetime_local_field :date_of_birth %>
    </div>
    <div>
        <%= form.submit "Create Student Account" %>
    </div>
<% end %>